/* Color scheme created by Davina Chai on color.adobe.com
used as initial inspiration, then edited by me */
/* Color Theme Swatches in Hex */
.Coral-Teal-Gray-1-hex { color: #FF5F5D; }
.Coral-Teal-Gray-2-hex { color: #3F7C85; }
.Coral-Teal-Gray-3-hex { color: #00CCBF; }
.Coral-Teal-Gray-4-hex { color: #72F2EB; }
.Coral-Teal-Gray-5-hex { color: #747E7E; }

/* Color Theme Swatches in RGBA */
.Coral-Teal-Gray-1-rgba { color: rgba(255, 94, 93, 1); }
.Coral-Teal-Gray-2-rgba { color: rgba(63, 124, 133, 1); }
.Coral-Teal-Gray-3-rgba { color: rgba(0, 204, 191, 1); }
.Coral-Teal-Gray-4-rgba { color: rgba(114, 242, 235, 1); }
.Coral-Teal-Gray-5-rgba { color: rgba(116, 126, 126, 1); }

/* Color Theme Swatches in HSLA */
.Coral-Teal-Gray-1-hsla { color: hsla(0, 100, 68, 1); }
.Coral-Teal-Gray-2-hsla { color: hsla(187, 35, 38, 1); }
.Coral-Teal-Gray-3-hsla { color: hsla(176, 100, 40, 1); }
.Coral-Teal-Gray-4-hsla { color: hsla(176, 83, 69, 1); }
.Coral-Teal-Gray-5-hsla { color: hsla(180, 4, 47, 1); }

:root {
    --primary-background-color: rgba(55, 61, 61, 1);
    --dark-splash-color: rgba(26,87,106,1);
    --primary-color: rgba(63, 124, 133, 1);
    --secondary-color: rgba(102, 200, 211, 1);
    --tertiary-color: rgba(114, 242, 235, 1);
    --splash-color: rgba(255, 94, 93, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    font-family: Calibri, 'Gill Sans','Trebuchet MS', sans-serif;
    color:var(--secondary-color);
    display: flex;
    position:relative;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
}

section {
    padding:60px;
}

#sidebar_toggle {
    position:fixed;
    z-index:999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sidebar_toggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top:20px;
    left: 15px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
    -webkit-touch-callout: none;
}

#sidebar_toggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 15px;
}

#sidebar_toggle label span {
    display:none;
}

#sidebar_toggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: var(--tertiary-color);
    border-radius: 3px;
    z-index: 999;
}

.hero {
    background-image: url("../images/Banner_Illustration.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.title-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.5) 25%,rgba(0,0,0,.5) 75%,rgba(0,0,0,0)100%); */
    width: 100%;
}

.title-bar h1 {
    color: white;
    font-size: 100px;
    border-bottom: 5px solid var(--splash-color) ;
    text-shadow: 0 0 7px black;    
}


.main-sidebar {
    max-width: 0;
    overflow: hidden;
    /* -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; */
    }

.main-sidebar.expanded {
    position: fixed;
    display: flex;
    flex-direction:column;
    max-width: 200px;
    background-color: var(--secondary-color);
    height: 100%;
    box-shadow: 0 0 7px black;
    /* -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; */
}

.main-sidebar img {
    margin-top: 40px;
    object-fit: scale-down;
}

.main-sidebar nav ul {
    padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.main-sidebar nav ul li {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background:rgba(63, 124, 133, 1);
    border-radius: 15px;
    width: 80%;
    margin: 3px;
    box-shadow: 0 0 7px black;
}

.main-sidebar nav ul li:hover {
    background: #FF5F5D;
}

.main-sidebar nav ul li:hover a {
    color: white;
}

.bio-section {
    display: flex;
    justify-content: center;
}

.bio-section article {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
}

.bio-section article img {
    width: 200px;
    max-height: 283px;
    box-shadow: 0 0 7px black;
}

.project-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.project-card {
    flex: 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #747E7E;
    box-shadow: 0 0 7px black;
}

.project-card img {
    max-width: 500px;
}

.project-card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* apparently you have to specify the container and the name of the first-child container to use :first-child correctly */
.project-section .project-card:first-child {
    flex: 1 100%;
    padding: 20px;
}

.project-section .project-card:first-child h2{
    font-size: 30px;
}

.project-section .project-card:first-child img{
    min-width: 800px;
    flex-basis: 100%;
}

footer {
    padding: 0 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

footer h2 {
    margin-bottom:15px;
}
footer address {
    font-size: 16px;
    font-style: normal;
}

footer address a:hover {
    color:#FF5F5D;
}

/* Formatting small desktop screens and smaller */
@media screen and (max-width: 980px) {

    section {
        padding: 30px;
    }
    
    .bio-section article {
        flex-wrap: wrap;
        width: 80%;
    }

    .bio-section article h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    .project-section .project-card:first-child img{
        min-width: 500px;
        flex-basis: 100%;
    }

    .project-card img {
        max-width: 250px;
    }
    
}

/* Formatting for tablets and smaller */
@media screen and (max-width: 768px) {

    .title-bar h1 {
        font-size: 50px;
    }

    .project-section .project-card:first-child {
        padding: 10px;
    }
    
    .project-section .project-card:first-child img{
        min-width: 400px;
        flex-basis: 100%;
    }

    .project-section .project-card:first-child h2{
        font-size: 30px;
    }

    .project-card img {
        max-width: 250px;
    }

}

/* Formatting for smartphones and smaller*/
@media screen and (max-width: 575px) {

    

    .project-section .project-card:first-child img{
        min-width: 350px;
        flex-basis: 100%;
    }

    .project-section .project-card:first-child h2{
        font-size: 25px;
    }


    .project-card img {
        max-width: 200px;
    }
    
    .project-card h2 {
        font-size: 20px;
    }
}